<div
  class="
    border rounded-2xl overflow-scroll scrollbar-none border-base-100 h-full w-96
    flex flex-col gap-6 p-2 relative
  "
>
  <% for h in 0..23 do %>
    <div class="flex gap-2 items-center">
      <p class="w-16"><%= "0" if h < 10 %><%= h %>:00</p>
      <hr class="w-full">
    </div>
  <% end %>

  <% if events != nil %>
    <% events.each do |event| %>
      <a href="<%= edit_event_path(event) %>">
        <div
          class="
            absolute w-[calc(100%-4.75rem)] top-0 bg-primary right-2 rounded-lg p-2
            overflow-scroll scrollbar-none
          "
          style="height: <%= ((event.end_time.to_i - event.start_time.to_i) / 1200)%>rem; top: <%= 1.25 + ((event.start_time.to_i - start.to_i) / 1200)%>rem;"
        >
          <%= event.name %>
        </div>
      </a>
    <% end %>
  <% end %>

</div>
