<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Calendar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="bg-base-200 w-screen h-screen">
    <nav
      class="
        navbar sticky top-0 z-40 h-16 px-8 text-base-content backdrop-blur bg-base-100
        bg-opacity-90 shadow-sm
      "
    >
      <a href="/" class="flex-1 text-xl"><h2>CalendarApp</h2></a>
      <% if authenticated? %>
        <%= button_to "Log out", session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Log in", new_session_path, method: :get, class: "btn btn-primary" %>
      <% end %>
    </nav>
    <main class="w-full h-[calc(100vh-8rem)]">
      <%= yield %>
    </main>
  </body>
</html>
